## example 1

In [5]:
def even(n):
    count=0
    sum=0
    while(count!=n):
        if(count%2==0):
            sum=sum+count
        count=count+1
    return sum;


print(even(20))

90

## example 2
##### print factors of a number

In [14]:
def factors(n):
    i=1
    while(i!=n):
        if(n%i==0):
            print(i,end=" ")
        i=i+1
    return 
factors(20)

1 2 4 5 10

## list

In [16]:
list1 = [1,2,3,4]
print(list1)
print(list1[0])

[1, 2, 3, 4]
1

In [46]:
list1=["chinmay","charith","rohan"]
for i in list1:
    print(i,end=" ")

chinmay charith rohan

In [28]:
list1=[1,2,3,4,5,6]
for i in list1:
    print(i,end=" ")
print()
print(list1[5])
print(list1[2:5])
print(list1[:6])
print(list1[2:])

1 2 3 4 5 6
6
[3, 4, 5]
[1, 2, 3, 4, 5, 6]
[3, 4, 5, 6]

In [44]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,]
for x in list1:
    print(x,end=" ")

print()
print(list1[1:-1])    
print(list1[2:-2])
print(list1[1:-2])
print(list1[-1:2])
print(list1[::2])
print(list1[::9])

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]
[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
[]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33]
[1, 10, 19, 28]

In [59]:
list1=["chinmay","charith","rohan",1,2,3,3,33]
print(list1)
list1[2]=15
print(list1)
del list1[4]
print(list1)
list1[3]='gitam'
print(list1)
list2=[2,5,7,9]
print(list2)
print(list1+list2)
list1.append(15)
print(list1)
print(list1.count(3))
print(list1.count(3))

['chinmay', 'charith', 'rohan', 1, 2, 3, 3, 33]
['chinmay', 'charith', 15, 1, 2, 3, 3, 33]
['chinmay', 'charith', 15, 1, 3, 3, 33]
['chinmay', 'charith', 15, 'gitam', 3, 3, 33]
[2, 5, 7, 9]
['chinmay', 'charith', 15, 'gitam', 3, 3, 33, 2, 5, 7, 9]
['chinmay', 'charith', 15, 'gitam', 3, 3, 33, 15]
2
2

## list methods

In [76]:
list1=["charith","chinmay","rohan","gitam",1,2,3,4]
print(list1)
print(list1.index("rohan"))

print(list1.index(2))
list1.insert(4,20)
print(list1)
list1.insert(11,6)
print(list1)

['charith', 'chinmay', 'rohan', 'gitam', 1, 2, 3, 4]
2
5
['charith', 'chinmay', 'rohan', 'gitam', 20, 1, 2, 3, 4]
['charith', 'chinmay', 'rohan', 'gitam', 20, 1, 2, 3, 4, 6]

In [79]:
list1=['gitam','python','python']
list1.remove('python')
print(list1)
list1.reverse()
print(list1)

['gitam', 'python']
['python', 'gitam']

## reverse

In [ ]:
list1=['c','h','i','n','m','a','y']
printt(li)